.urlshortener-label {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-family: "Josefin Slab Light";
  background-color: #cf5037;
}